html {
    box-sizing: border-box;
  }
  /* The Universal Selector */
  * /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  /* resets font size to be 62.5% of the user preference - 
       in most browser configurations this will be 10px */
  :root {
      font-size: 62.5%;
  }
  body{
    display : grid; 
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 53, 23, 0.945);
    background: url("https://www.wallpaperflare.com/static/302/504/847/video-games-final-fantasy-xiii-forest-screen-shot-wallpaper.jpg");
    background-attachment: fixed;
    /* background-size: 1200px 800px;
     background-position: center;
     background-repeat: no-repeat; */
	 /* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
    /* height: 100vh; */
    text-align: center;
    display: flex; 
    flex-direction: column;
}

#petImage
{
	size: 100px 100px; 
    /* position:absolute;  */
}
.hud{
    display: flex;

}

#labels
{
	width: 100px;
    height: 20px;
	margin-bottom: 5px; 
}
.labelLife{
    color: white;
    height: 20px;
    width: 100px;
    margin-bottom: 5px;
    font-size: large;
    
}
.labelHappiness{
    color: white;
    height: 20px;
    width: 100px;
    margin-bottom: 5px;
    font-size: large;
}
.labelHunger{
    color: white;
    height: 20px;
    width: 100px;
    margin-bottom: 5px;
    font-size: large;
}
#meters{
    margin-right: 10px;
	width: 300px;
    height: 20px;
    font-size: 10rem;
    margin-bottom: 5px;
}
#meterLife
{
	background-color: #14d314; /* green */
    height: 20px;
    margin-bottom: 5px;
}

#meterHappiness
{
	background-color: #ec8804; /* orange */
    height: 20px;
    margin-bottom: 5px;
}

#meterHunger
{
	background-color: #216ed3; /* blue */
    height: 20px;
    margin-bottom: 5px;

}
#buttons{
   
    height: 20px;
    width: 50px;
    margin-bottom: 5px;
    font-size: large;
}
#btnPlay{
      background-color: rgb(38, 0, 255); 
      color: #F2F2F2; /* near white */
      border-radius: 5px;
      height: 20px;
      margin-bottom: 5px;
}
    
#btnPlay:hover{
     background-color: #7785d6;
}
    
#btnPlay:active{
      background-color: #165590;
}
#btnFeed{
    background-color: #0b8a06; 
    color: #F2F2F2; /* near white */
    border-radius: 5px;
    margin-bottom: 5px;
    
    height: 20px;
}
    
#btnFeed:hover{
    background-color: #0deb50;
}
    
#btnFeed:active{
    background-color: #088A85;
}

#btnClean{
    background-color: #f214e3; /* limegreen */
    color: #F2F2F2; /* near white */
    border-radius: 5px;
    height: 20px;
    margin-bottom: 5px;
}
  
#btnClean:hover{
   background-color: #ee0cb5;
}
  
#btnClean:active{
    background-color: #e20ebf;
}
#btnIgnore{
    background-color: #5d07a4; 
    color: #F2F2F2; /* near white */
    border-radius: 5px;
    height: 20px;
    margin-bottom: 5px;
}
    
#btnIgnore:hover{
    background-color: #9968e8;
}
    
#btnIgnore:active{
    background-color: #7226b1;
}

#btnTalkShit{
    background-color: #f0186b; 
    color: #F2F2F2; /* near white */
    border-radius: 5px;
    height: 20px;
    width: 100px;
    margin-bottom: 5px;
}
    
#btnTalkShit:hover{
    background-color: #a0093c;
}
    
#btnTalkShit:active{
    background-color: #dd1f3f;
}

#feedback{
    margin-top: 67px;
    padding: 3px 0 4px 0;
    width: 380px;
    float: none;
}